%h3
  %i.glyphicon.glyphicon-facetime-video
  &nbsp;
  過去の M3 Tech Talk
%hr

%p
  過去の M3 Tech Talk の発表スライドなどを紹介します。
%p
  社内限定の情報を含む場合や履歴の残らなかったデモなどもあったため、こちらにはあるものはほんの一部です。
%p
  今後はできるだけ公開できるものを増やしていければと思います。

%hr
%h4 「Introduction to React」 by #{link_to '@shuhei', 'https://github.com/shuhei', target:'_blank'}
%hr

.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="868ac76063e60131e1ad6e04b6941de4" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「How To Create Chrome Extensions」 by namu
%hr

.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="faa7c4404b900131da647ee435197464" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「Is A Elixir Environment enough for development?」 by #{link_to '@ma2gedev', 'https://github.com/ma2gedev', target:'_blank'}
%hr
.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="3fdbfb304aff01314fe962616f9bc0e7" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「Load testing with gatling」 by #{link_to '@cb372', 'https://github.com/cb372', target:'_blank'}
%hr

<iframe src="http://www.slideshare.net/slideshow/embed_code/28955608" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「WriteExcel について」 by Hiroyuki Asabatake
%hr

<iframe src="http://www.slideshare.net/slideshow/embed_code/28956461" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>


%hr
%h4 「テストの運用について」 by #{link_to '@seratch', 'https://github.com/seratch', target:'_blank'}
%hr
<iframe src="http://www.slideshare.net/slideshow/embed_code/27559929" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「Bundle-star: How to appreciate OSS projects」 by #{link_to '@ma2ge', 'https://github.com/ma2gedev', target:'_blank'}
%hr
.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="71c867f009990131a2ab4e918f15db03" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「Testing JavaScript」 by #{link_to '@shuhei', 'https://github.com/shuhei', target:'_blank'}
%hr
%p
  = link_to 'http://shuheikagawa.com/talks/20131025_Testing_JavaScript/#1', 'http://shuheikagawa.com/talks/20131025_Testing_JavaScript/#1', target:'_blank'

%hr
%h4 「Backbone.js のはなし」 by #{link_to '@shuhei', 'https://github.com/shuhei', target:'_blank'}
%hr
%p
  = link_to 'http://shuheikagawa.com/talks/20130816_Introduction_to_Backbone/#1', 'http://shuheikagawa.com/talks/20130816_Introduction_to_Backbone/#1', target:'_blank'

%hr
%h4 「Phone Home: A client-side error collection system」 by #{link_to '@cb372', 'https://github.com/cb372', target:'_blank'}
%hr
<iframe src="http://www.slideshare.net/slideshow/embed_code/25296752" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「Java で使う CoffeeScript と WebJars の話」 by #{link_to '@seratch', 'https://github.com/seratch', target:'_blank'}
%hr

%p
  #{link_to 'Ninja framework', 'http://www.ninjaframework.org/', target:'_blank'} を使った Servlet アプリの実装を紹介しました。
%p
  また #{link_to 'wro4j', 'https://code.google.com/p/wro4j/', target:'_blank'} による CoffeeScript のランタイムコンパイルの様子と
  #{link_to 'WebJars', 'http://www.webjars.org/', target:'_blank'} による JavaScript ファイルの解決についてデモしました。
%p
  ソースコードはこちらでご覧いただけます。
%p
  = link_to 'github.com/seratch/ninja-coffee-example', 'https://github.com/seratch/ninja-coffee-example'

%hr
%h4 「Facing Technical Debt with Capybara and Mechanize」 by #{link_to '@ma2gedev', 'https://github.com/ma2gedev', target:'_blank'}
%hr
.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="e447a8d0d25b01300cdc16e7346fde45" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「Skinny Controllers, Skinny Models」 by #{link_to '@seratch', 'https://github.com/seratch', target:'_blank'}
%hr
<iframe src="http://www.slideshare.net/slideshow/embed_code/23939392" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「Branching strategies」 by #{link_to '@cb372', 'https://github.com/cb372', target:'_blank'}
%hr
<iframe src="http://www.slideshare.net/slideshow/embed_code/23218590" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「オンライン授業の体験談：Coursera, Functional Programming With Scala」 by #{link_to '@btakashi', 'https://github.com/btakashi', target:'_blank'}
%hr
<iframe src="http://www.slideshare.net/slideshow/embed_code/22631437" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>

%hr
%h4 「Node.js + WebSocket でテザリングしてみた」 by #{link_to '@shuhei', 'https://github.com/shuhei', target:'_blank'}
%hr
.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="cf71f0c02105013151e24a4948aa6526" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

%hr
%h4 「Try Rails 4」 by #{link_to '@ma2ge', 'https://github.com/ma2gedev', target:'_blank'}
%hr
.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="f6a59ea0a51f0130593152188aa18b52" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
