%p
  こちらでは <a href="http://corporate.m3.com/" target="_blank">エムスリー株式会社</a> とそのグループ会社における技術的な取り組みについて紹介していきます。コンテンツは随時更新予定です。

%hr/
%h4
  %i.glyphicon.glyphicon-ok
  積極採用中です
%hr/

%p
  書類選考の前にエムスリーのことを知っていただくためにカジュアルな面談も可能です。
%p
  希望される方は Wantedly からエントリいただければと思います（正式に応募するかはその後でお決めください）。

<iframe frameborder="0" scrolling="no" style="height: 240px; width: 490px;" src="http://widget.wantedly.com/projects/2915/widget_h"></iframe>

%hr/
%h4
  %i.glyphicon.glyphicon-volume-up
  M3 Tech Talk
%hr/

%p
  エムスリーでは、隔週で社内技術発表会として「M3 Tech Talk」を開催しています。
%p
  カジュアルな形で無理なく継続していくことで、新技術へのキャッチアップの機会を生み出すことを目的としています。
%p
  直近の M3 Tech Talk の公開スライドはこちらです。

.slides-speakerdeck
  <script async class="speakerdeck-embed" data-id="faa7c4404b900131da647ee435197464" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

%p
  公開可能な発表内容については極力公開することを推奨しています。これまでの発表スライド等についてはこちらでご覧いただけます。
%i.glyphicon.glyphicon-facetime-video
&nbsp;
= link_to 'M3 Tech Talk Archive', '/m3-tech-talk/archive.html'


%hr/
%h4
  %i.glyphicon.glyphicon-wrench
  GitHub での活動
%hr/

%p
  エムスリーの開発チームでは日々の開発の中で社内外で利用可能なライブラリやノウハウなどを積極的に公開していくことを推奨しています。
%p
  公開済みのリポジトリはこちらでご覧いただけます。

= link_to 'github.com/m3dev', 'https://github.com/m3dev', target: '_blank'

%p
%p
  プライベートでコードを公開しているメンバーも多くいます。こちらからご覧ください。

= link_to 'github/com/m3dev?tab=members', 'https://github.com/m3dev?tab=members', target: '_blank'

%hr/
%h4
  %i.glyphicon.glyphicon-book
  勉強会への会場提供
%hr/

%p
  弊社のスタッフが立ち会い可能な日時・内容であれば、会議室を勉強会会場として無料で提供しております。

= link_to 'Doorkeeper での紹介ページ', 'http://www.doorkeeper.jp/%E4%BC%9A%E5%A0%B4/m3', target: '_blank'

%hr/
%h4
  %i.glyphicon.glyphicon-heart
  OSS との関わり
%hr/

%p
  エムスリーでは、代表的なものだけでも以下のような OSS や外部サービスを利用して日々の開発を行っています。
%p
  OSS コミュニティへの還元として、コードでの貢献や会場提供、スポンサーシップなどの形で積極的に貢献していきたいと考えています。

%hr/
%p
  = tag :img, src: "/images/oss.png", border: 0

